.wrapper {
  min-height: 900px;
  background-size: cover;
  background-image: url(/loginwrapper.jpg);
}

.form {
  border-right: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7));
  min-height: 900px;
  max-width: 450px;
  padding: 30px;
  padding-top: 80px;
  border-radius: 0;
}

.header {
  margin-bottom:20px;
}
.headerDiv {
  width: max-content;
  margin-left:auto;
  margin-right:auto;
}

@media (max-width: 768px) {
  .form {
    max-width: 100%;
  }
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family: Outfit, var(--mantine-font-family);
  font-weight: 500;
  font-size: 60px !important;
  text-align: center;
}